/* Återställer default-värden. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Färger från bakgrundsbilden.

Millbrook - brun
#574631

Green Smoke - grön
#a0a666

*/

/* Startsidans style. */

/* Body. */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(/assets/background.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Header. */
header {
    height: 125px;
    margin: 1rem auto;
}

/* Navigation. */
nav {
    display: flex;
    flex-wrap: wrap;
}

/* Style för flikar. */
.tablink {
    background-color: rgb(87, 70, 49, 75%);
    float: left;
    cursor: pointer;
    padding: 15px 0;
    width: 25%;
    text-decoration: none;
    text-align: center;
}

/* Lägger till en klass för den aktiva fliken med andra färgval. */
.tablink.active {
    background-color: rgb(255, 255, 255, 65%);
    color: #000000;
}

/* Hover-effekt för inaktiva flikar. */
.tablink:not(.active):hover {
    background-color: rgb(160, 166, 102, 75%);
    color: #000000;
}

/* Style för flik-innehåll. */
.tabcontent {
    padding: 100px 0 50px 0;
    min-height: 100%;
    width: 100%;
    color: #000000;
    background-color: rgb(255, 255, 255, 65%);
}

/* Paragraf i flik-innehållet. */
.tabcontent p {
    margin: 0 0 0 2rem;
    padding: 0 1rem 0 0;
    max-width: 57ch;
    line-height: 1.75;
}

/* Lista. */
.tabcontent ul {
    list-style-type: none;
    margin: 1rem 0 0 2rem;
    padding: 0 1rem 0 0;
    line-height: 1.75;
}

/* Ikoner. */
.fa-plus {
    color: green; 
}

.fa-minus {
    color: red; 
}

/* Rubriker. */
h1 {
    margin: 2rem 0;
    color: #000000;
    text-shadow: 1px 2px #ffffff;
    font-size: 2.5em;
}

h2 {
    margin: 0 0 1rem 2rem;
    font-weight: bold;
    color: #000000;
}

h3 {
    margin: 1.5rem 0 0 2rem;
    color: #000000;
}

/* Länkar. */
a {
    font-weight: bold;
    color: #ffffff;
}

/* Footer. */
footer {
    margin-top: auto;
    width: 100%;
    height: 80px;
    color: #ffffff;
    text-align: center;
    line-height: 1.75;
    padding: 0.75rem 0 0 0;
    
    p {
        display: inline-block;
        padding: 0.5rem;
        background-color: rgb(87, 70, 49, 25%);
    }
}

/* Style för skärmar upp till 425px. Lägger två nav-flikar på rad. */
@media (max-width: 425px) {
    .tablink {
        width: 50%;
        float: left;
        order: 1;
    }

    /* Sätter ordningen för den aktiva fliken så den lägger sig längst ner och connectar med tabcontent. */
    .tablink.active {
        order: 2; 
    }
}

/* Style för större skärmar, förstorar font-storlek för länkar och paragraftext i main och footer. */
@media (min-width: 1920px) {

    a, .tabcontent p, footer p {
        font-size: large;
    }
}