/* Body. */
body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Header och footer. */
header, footer {
    background-color: #9b4dca;
    color: #ffffff;
    text-align: center;
    padding: 1.5rem 0 0.25rem 0;
    margin: 0;
}

/* Footer, margin. */
footer {
    margin-top: auto;
}

/* Navigation. */
nav {
    text-align: center;
    color: #ffffff;
    margin: 0 0 3rem 0;
    padding: 0 0 1rem 0;
    background-color: #9b4dca;
}

/* Länkar. */
a {
    color: #ffffff;
    padding: 0 0.5rem 0 0.5rem;
    text-decoration: underline;
}

/* Lägger till en klass för aktiv länk. */
a.active {
    color: yellow;
    text-decoration: none;
}

/* Webbplats-länk i texten. */
#link {
    color: #9b4dca;
}

/* Rubriker och paragrafer. */
h3 {
    background-color: #9b4dca;
    color: #ffffff;
    padding: 0.5rem;
}

p:not(footer p) {
    max-width: 60ch;
    margin: 0 0 3rem 0;
}

/* Kursiv text. */
#purple {
    color: #9b4dca;
}

/* Containers. */
.about, 
.table, 
.form {
    margin: 0 1rem;
}

/* Style för större skärmar. */
@media (min-width: 769px) { 
    
    h2 {
        text-align: center;
    }

    p:not(footer p) {
        margin: 0 auto 3rem auto;
    }
}